@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('../../public/static/fonts/montserrathairline.woff2') format('woff2'), url('../../public/static/fonts/montserrathairline.woff') format('woff'), url('../../public/static/fonts/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), url('../../public/static/fonts/montserratlight.woff2') format('woff2'), url('../../public/static/fonts/montserratlight.woff') format('woff'), url('../../public/static/fonts/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../../public/static/fonts/montserrat.woff2') format('woff2'), url('../../public/static/fonts/montserrat.woff') format('woff'), url('../../public/static/fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../../public/static/fonts/montserratbold.woff2') format('woff2'), url('../../public/static/fonts/montserratbold.woff') format('woff'), url('../../public/static/fonts/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'), url('../../public/static/fonts/montserratblack.woff2') format('woff2'), url('../../public/static/fonts/montserratblack.woff') format('woff'), url('../../public/static/fonts/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.main-pic {
    padding:250px!important;
}

.content-container {
    margin-top: 120px!important;
}

.button-moda {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.button-moda:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);

}
.Montserrat
{
    font-family: Montserrat;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media screen and (max-width: 1000px) {
    .pic-75 {
        width:75%;
    }
    .pic-100 {
        width:100%;
    }
    .pic-50 {
        width:50%;
    }
    .main-pic
    {
        padding: 0px!important;
    }
    .content-container {
        margin-top:0px!important;
    }
}
