@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('/static/fonts/montserrathairline.woff2') format('woff2'), url('/static/fonts/montserrathairline.woff') format('woff'), url('/static/fonts/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Bold';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/static/fonts/montserratbold.woff2') format('woff2'), url('/static/fonts/montserratbold.woff') format('woff'), url('/static/fonts/montserratbold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.Montserrat-bold {
    font-family: "Montserrat Bold";
}
.menuse.solid-nav {
    background-color: white!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu-text-hov{
    color:black!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main-pic {
    padding:250px!important;
}

.content-container {
    margin-top: 120px!important;
}

.button-moda {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.button-moda:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);

}
.Montserrat
{
    font-family: Montserrat;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.season-effect
{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.season-effect:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);;
}
.social-icon:hover {
    animation: 1500ms ease 0s normal none 1 running pulse;
}
@keyframes pulse {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    10% {
        transform: scaleX(0.95) scaleY(0.95);
    }
    20% {
        transform: scaleX(1) scaleY(1);
    }
    30% {
        transform: scaleX(0.95) scaleY(0.95);
    }
    40% {
        transform: scaleX(1) scaleY(1);
    }
    50% {
        transform: scaleX(0.95) scaleY(0.95);
    }
    60% {
        transform: scaleX(1) scaleY(1);
    }
    70% {
        transform: scaleX(0.95) scaleY(0.95);
    }
    80% {
        transform: scaleX(1) scaleY(1);
    }
    90% {
        transform: scaleX(0.95) scaleY(0.95);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
@media screen and (max-width: 1000px) {
    .pic-75 {
        width:75%;
    }
    .pic-100 {
        width:100%;
    }
    .pic-50 {
        width:50%;
    }
    .main-pic
    {
        padding: 0px!important;
    }
    .content-container {
        margin-top:0px!important;
    }
}
.menu {
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu:hover .main-co{
        animation: none;
}
.menu .share i.fab {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    padding-bottom:10px;
}
.menu .share i.fas {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color:white;
    background-color: #000000;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    padding-bottom:10px;
}
.main-co
{
    -webkit-animation:email-an linear 2s infinite;
    animation:email-an linear 2s infinite;
}
@-webkit-keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 0 rgba(8, 8, 8, 0.2),0 0 0 0 rgba(8, 8, 8, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 15px rgba(8, 8, 8, 0.2),0 0 0 0 rgba(8, 8, 8, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 30px rgba(37, 211, 102, 0),0 0 0 26.7px rgba(8, 8, 8, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 30px rgba(8, 8, 8, 0),0 0 0 40px rgba(37, 211, 102, 0)
    }
}@keyframes email-an {
     0% {
         box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 0 rgba(8, 8, 8, 0.2),0 0 0 0 rgba(8, 8, 8, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(8, 8, 8, 0.3),0 0 0 15px rgba(8, 8, 8, 0.2),0 0 0 0 rgba(8, 8, 8, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(8, 8, 8, 0.2),0 0 0 30px rgba(53, 60, 228, 0),0 0 0 26.7px rgba(53, 60, 228, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(8, 8, 8, 0.14),0 0 0 30px rgba(53, 60, 228, 0),0 0 0 40px rgba(37, 211, 102, 0)
     }
 }
/*.tab-pane.active {*/
    /*-webkit-transition: opacity 0.5s ease-in;*/
    /*-moz-transition: opacity 0.5s ease-in;*/
    /*-o-transition: opacity 0.5s ease-in;*/
    /*-ms-transition: opacity 0.5s ease-in;*/
    /*transition: opacity 0.5s ease-in;*/
/*}*/

/*@keyframes slide-down {*/
    /*0% { opacity: 0; transform: translateY(100%); }*/
    /*100% { opacity: 1; transform: translateY(0); }*/
/*}*/
.menu .share:hover.top .submenu li:nth-child(1) {
    opacity: 1;
    top: -55px;
    transition-delay: 0.04s;
    transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(2) {
    opacity: 1;
    top: -110px;
    transition-delay: 0.08s;
    transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(3) {
    opacity: 1;
    top: -165px;
    transition-delay: 0.12s;
    transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(4) {
    opacity: 1;
    top: -220px;
    transition-delay: 0.16s;
    transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(5) {
    opacity: 1;
    top: -275px;
    transition-delay: 0.20s;
    transform: rotateY(0deg);
}
.menu .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu .submenu li {
    transition: all ease-in-out 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    padding-bottom:11px;
}
.menu .submenu li a i.fab {
    color: #fff;
}
.menu .submenu li a span {
    position: fixed;
    padding-top:15px;
    padding-right:10px;
    left:-130px;
    color:white;
    height: 82%;
    width:140px;
    background: rgba(118, 122, 118, 0.55);
    padding-left: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -100;
}
.menu .submenu li a i.fas {
    color: #fff;
}
.menu .submenu li a.whatsapp i.fab {
    background-color: #25d366;
}
.menu .submenu li a.telegram i.fab {
    background-color: #55acee;
}
.menu .submenu li a.viber i.fab {
    background-color: #59267c;
}
.menu .submenu li a.instagram i.fab {
    background-color: #833AB4;
}
.menu .submenu li:nth-child(1) {
    transform: rotateX(45deg);
}
.menu .submenu li:nth-child(2) {
    transform: rotateX(90deg);
}
.menu .submenu li:nth-child(3) {
    transform: rotateX(135deg);
}
.menu .submenu li:nth-child(4) {
    transform: rotateX(180deg);
}
.menu.bottomRight {
    bottom: 10px;
    right: 10px;
}